cython
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI&egg=pycocotools
submitit
torch>=1.5.0
torchvision>=0.6.0
git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi
scipy~=1.11.4
requests~=2.31.0
flask~=2.2.5
onnx
onnxruntime
flask_cors
minio
opencv-python~=4.9.0.80

